<div class="main">
<!----container---->
<div class="container">
	<!----- content ----->
	<div class="4-col-grids">
		<div class="col-md-3">
			<div class="1-col-grids">
				<!----profile---->
				<div class="profile text-center">
					<div class="profile-head">
						<a href="#"><span> </span></a>
					</div>
					<div class="profile-info">
						<h2><a href="#">John Doe</a></h2>
						<span>Web Design | Cluj Napoca</span>
					</div>
				</div>
				<!----profile---->
				<!---- to-day --->
				<div class="to-day text-center">
					<h3>TODAY</h3>
					<h1>3</h1>
					<span>of July 2014</span>
				</div>
				<!---- to-day --->
				<!---- calender ---->
				<div class="calender">
					<div class="example1" style="margin:0 auto"> </div>
					<script src="js/jquery.supercal.js"></script>
					<script>
								$('.example1').supercal({
									transition: 'carousel-vertical'
								});
					</script>

				</div>
				<!---- calender ---->
			</div>
		</div>
		<!----col-2---->
		<div class="col-md-9">
			<div class="2-col-grids">
			<div class="login-form">
					<div class="pie-chrt-head">
						<h2>LOG IN</h2>
					</div>
					<form>
						<input type="text" placeholder="Enter your email" required/>
						<input type="password" placeholder="Enter your password" required/>
						<input type="submit" value="SIGN UP" />
					</form>
				</div>
			</div>
		</div>
		<!---//col-2---->
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>
	<!----- content ----->
</div>
<!----container---->
</div>
